/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(300.96deg, #f76cc6 9.77%, #c471f2 99.35%);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.MuiTab-textColorPrimary {
  color: #4a4063 !important;
  font-weight: bold !important;
  border-right: 1px solid #4a4063 !important;
}
.MuiTabs-indicator {
  background-color: #4a4063 !important;
}

.MuiAppBar-colorPrimary {
  background-color: #4a4063 !important;
}
